body{
    background: #b8b8b8;
    color: white;
    font-size: 20px;
    background-image: url(/assets/img/logoBlanco.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}   